 .u-section-1 {
  min-height: 1059px;
}

.u-section-1 .u-image-1 {
  height: 1172px;
  margin-top: -113px;
  margin-bottom: 0;
  filter: brightness(0.6);
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 6rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 774px;
  margin: -816px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 661px;
  margin: 1px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 28px auto 60px calc(((100% - 1140px) / 2)  + 474px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-left: calc(((100% - 940px) / 2) + 274px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2) + 54px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-block-8a29-6,
.u-block-8a29-6:before,
.u-block-8a29-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-8a29-6.u-block-8a29-6.u-block-8a29-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
}

.u-block-8a29-6 {
  border-color: transparent !important;
}

.u-block-8a29-6.u-block-8a29-6.u-block-8a29-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
}

.u-block-8a29-6 {
  border-color: transparent !important;
} .u-section-2 {
  background-image: url("images/image9.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1100px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 6rem;
  margin: 160px 112px 0 570px;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 135px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 12px;
    margin-left: 470px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 35px;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 262px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 23px;
    margin-left: 262px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-left: 82px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-left: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

.u-block-69d8-5,
.u-block-69d8-5:before,
.u-block-69d8-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-69d8-5.u-block-69d8-5.u-block-69d8-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
}

.u-block-69d8-5 {
  border-color: transparent !important;
}

.u-block-69d8-5.u-block-69d8-5.u-block-69d8-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
}

.u-block-69d8-5 {
  border-color: transparent !important;
} .u-section-3 {
  background-image: url("images/image10.png");
}

.u-section-3 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 99px 56px 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-shadow: -2px 2px 8px rgba(0,0,0,1);
  margin: 16px 0 0 848px;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 307px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1026px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 648px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 428px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-left: 248px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 48px;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-radius: 50px !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
}